[project]
	description = Version of the GNU Bourne Again shell extended with two-panel file manager. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bingxuechangya
[access "refs/for/refs/*"]
	read = group user/bingxuechangya
	push = group user/bingxuechangya
	label-Code-Review = -2..+2 group user/bingxuechangya
	label-Verified = -1..+1 group user/bingxuechangya
	rebase = group user/bingxuechangya
	removeReviewer = group user/bingxuechangya
	submit = group user/bingxuechangya
[access "refs/heads/*"]
	read = group user/bingxuechangya
	create = group user/bingxuechangya
	push = +force group user/bingxuechangya
	pushMerge = group user/bingxuechangya
[access "refs/tags/*"]
	push = group user/bingxuechangya
	push = +force group user/bingxuechangya
